<!DOCTYPE html>
<html>

<head>
    <title>Coding Folks</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>

<body>

    <div id="editor"></div>

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/javascript/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        };

        var room = getParameterByName('room');
        var user = getParameterByName('user');

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
        editor.setValue("// your code goes here");
        editor.$blockScrolling = Infinity;

        var socket = io();

        $('.ace_text-input').on('keyup', function() {
            var msg = {
                id: room,
                user: user,
                value: editor.getValue()
            }
            socket.emit('document-update', msg);
        });

        socket.on('doc', function(msg) {
            if (msg.new_val.id === room && msg.new_val.user != user) {
                var current_pos = editor.selection.getCursor();
                editor.setValue(msg.new_val.value);
                editor.moveCursorToPosition(current_pos);
            }
        });
        
    </script>
</body>

</html>
